---
title: 首页
layout: default
---

<div class="module" id="main-hero">
	<div class="slideshow-content">
		<div class="slideshow-container">
			<div class="slider">
{% for cat in site.categories %}
{% if cat[0] == '幻灯片' %}
{% for post in cat[1] %}
  				<div class="slide">
					<img src="/assets{{ post.id }}.jpg"/>
					<div class="inner-overlay"></div>
					<div class="detail">
						<div class="detail-inner">
							<div class="caption">
								<h4>{{ post.title }}</h4>
								<h3>{{ post.intro }}<br/><br/></h3>
								<div class="btn-container">
									<a class="btn" href="{{ post.url }}" title="{{ post.title }}">了解更多</a>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endfor %}
{% endif %}
{% endfor %}
			</div>
			<div class="slider-controls">
				<div class="slider-pagin"></div>
				<a class="slider-play" href="">Play</a>
			</div>
		</div>
	</div>
</div>
<div class="module" id="home">
	<div class="mod-inner">
		<div class="col-left" id="latest">
			<h3>产品视频</h3>
{% for cat in site.categories %}
{% if cat[0] == '视频' %}
{% for post in cat[1] %}
			<div class="inner-content clearfix">
				<div class="inner-left">
					<a href="{{ post.url }}">
						<img src="/assets{{ post.id }}.jpg"/>
						<img class="videofloat" src="images/play.png"/>
					</a>
				</div>
				<div class="inner-right">
					<span>{{ post.date | date:"%Y-%m-%d" }}</span>
					<a href="{{ post.url }}">{{ post.title }}<span class="more"></span></a>
				</div>
			</div>
{% endfor %}
{% endif %}
{% endfor %}
		</div>
		<div class="col-center" id="featured-property">
			<div class="slide-container">
{% for cat in site.categories %}
{% if cat[0] == '设施' %}
{% for post in cat[1] %}			
				<div class="inner-content current">
					<div class="img-container">
						<a href="{{ post.url }}">
							<img src="/assets{{ post.id }}.jpg"/>
						</a>
					</div>
					<div class="property-content">
						<h2>{{ post.title }}</h2>
						<p>{{ post.intro }}</p>
						<a class="learn-more" href="{{ post.url }}">更多</a>
					</div>
				</div>
{% endfor %}
{% endif %}
{% endfor %}
			</div>
			<div class="controls-container clearfix">
				<h3>厂房设施</h3>
				<div class="featured-controls">
					<a class="slider-prev">Previous</a>
					<a class="slider-next">Next</a>
				</div>
			</div>
		</div>
		<div class="col-right">
			<div id="weibo-widget">
				<h3>贸易平台链接</h3>
				<div class="inner-content clearfix">
					<div class="inner-left">
						<div class="img-container">
							<a href="http://shop1405404880362.1688.com" target="_blank">
								<img src="assets/link1.jpg"/>
							</a>
						</div>
					</div>
					<div class="inner-right">
						<div class="user">
							<a href="http://shop1405404880362.1688.com" target="_blank">阿里巴巴旺铺</a>
						</div>
						<a href="http://shop1405404880362.1688.com" target="_blank">典普无纺布@阿里巴巴旺铺</a>
					</div>
				</div>
				<div class="inner-content clearfix">
					<div class="inner-left">
						<div class="img-container">
							<a href="http://wait31627.cn.gongchang.com" target="_blank">
								<img src="assets/link2.jpg"/>
							</a>
						</div>
					</div>
					<div class="inner-right">
						<div class="user">
							<a href="http://wait31627.cn.gongchang.com" target="_blank">世界工厂</a>
						</div>
						<a href="http://wait31627.cn.gongchang.com" target="_blank">典普无纺布@世界工厂</a>
					</div>
				</div>
				<div class="inner-content clearfix">
					<div class="inner-left">
						<div class="img-container">
							<a href="http://nbdnp.diytrade.com" target="_blank">
								<img src="assets/link3.jpg"/>
							</a>
						</div>
					</div>
					<div class="inner-right">
						<div class="user">
							<a href="http://nbdnp.diytrade.com" target="_blank">自助贸易</a>
						</div>
						<a href="http://nbdnp.diytrade.com" target="_blank">典普无纺布@自助贸易</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
