<!--!DOCTYPE html-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/styles/main.css" rel="stylesheet"/>
    <link href="/styles/minimalist.css" rel="stylesheet" type="text/css"/>
    <script src="/scripts/modernizr-2.5.3.min.js"></script>
  </head>
  <body>
      <div class="module" id="global-header">
      <div class="mod-inner">
        <!--
        <ul id="utility-nav">
          <li>
            <a class="btn" href="http://www.baidu.com/#wd=site%3Awww.dnp.wf" target="_blank" title="搜索 典普无纺布官网">
              <span>搜索 典普无纺布官网</span>
            </a>
          </li>
          <li>
            <a href="/en" title="English">EN</a>
          </li>
          <li>/</li>
          <li>
            <a class="current" href="/" title="简体中文">简体中文</a>
          </li>
        </ul>
        -->
      </div>
    </div>
    <div class="module" id="main-header">
      <div class="mod-inner">
        <h1>
          <a href="/" title="典普无纺布">典普无纺布</a>
        </h1>
        <ul id="main-nav">
          <li>
            <a href="/" {% if page.title == '首页' %}class="current"{% endif %} title="首页">首页</a>
          </li>
          <li>
            <a class="sub-menu property-list" href="#" title="典普无纺布产品">产品</a>
            <div class="caret"/>
          </li>
          <li>
            <a href="/about" {% if page.title == '公司介绍' %}class="current"{% endif %} title="公司介绍">公司介绍</a>
          </li>
          <li>
            <a href="/guestbook" {% if page.title == '访客留言' %}class="current"{% endif %} title="访客留言">访客留言</a>
          </li>
        </ul>
      </div>
      <div class="nav-border"></div>
    </div>
    <div id="property-dropdown">
      <div class="mod-inner">
        <div class="col-4 clearix border-none">
          <div class="img-container">
{% for cat in site.categories %} {%if cat[0] == '产品' %} {% for post in cat[1] reversed %}
            <img class="{{ forloop.index }}" src="/assets{{ post.id }}.jpg"/>
{% endfor %} {% endif %} {% endfor %}
          </div>
        </div>
{% for cat in site.categories %} {%if cat[0] == '产品' %} {% for post in cat[1] reversed %}
  {% assign length = forloop.length | plus: 2 %}
  {% assign rows = length | divided_by: 3 %}
  {% assign rows2 = rows | times: 2 %}
  {% assign index = forloop.index | modulo: rows %}
  {% if index == 1 %}
        <div class="col-4 clearfix{% if forloop.index == 1 %} first{% endif %}{% if forloop.index > rows2 %} last{% endif %}">
          <ul>
  {% endif %}
            <li><a data-link="{{ forloop.index }}" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% if index == 0 or forloop.index == forloop.length %}
          </ul>
        </div>
  {% endif %}
{% endfor %} {% endif %} {% endfor %}
      </div>
    </div>
    <div id="main-content">
{{ content }}
    </div>
    <div class="module" id="main-footer">
      <div class="mod-inner">
        <div class="mod-content">
          <div class="mod-main">
            <h6>联系方式</h6>
            <address>
              宁波典普无纺布有限公司<br/>
              宁波市鄞州区五乡镇<br/>
              五乡工业园区<br/>
              金通路156号
            </address>
            <address>
              电话: 0571-88811082<br/>
              传真: 4008892163-132996<br/>
              手机: 13588840084<br/>
              电邮: tangjj@dnp.wf
            </address>
          </div>

          <div class="mod-side">
            <ul>
              <li><a class="logo" href="/" title="典普无纺布 主页">典普无纺布</a></li>
            </ul>
            <!--
            <p align="center"><a href="/about" title="公司">公司</a></p>
            <p align="center"><a href="#" title="">其它信息</a></p>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="module" id="global-footer">
      <div class="mod-inner">
        <p><a href="http://github.com/{{ site.github }}/DNP/edit/gh-pages/{{ page.path }}">&copy;</a> {{site.time | date:"%Y"}} {{ site.author }} 版权所有。{{ site.beian }}
{% if site.cnzz %}
 | <script src="http://s85.cnzz.com/stat.php?id={{ site.cnzz }}"></script>
{% endif %}
        </p>
      </div>
    </div>
    <script src="/scripts/jquery-1.8.2.min.js"></script>
    <script src="/scripts/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/scripts/flowplayer.min.js"></script>
    <script src="/scripts/jquery.carouFredSel-6.0.5.js"></script>
    <script src="/scripts/jquery.ba-outside-events.min.js"></script>
    <script src="/scripts/jquery.fancybox.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
