<!--!DOCTYPE html-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/styles/main.css" rel="stylesheet"/>
    <link href="/styles/minimalist.css" rel="stylesheet" type="text/css"/>
    <script src="/scripts/modernizr-2.5.3.min.js"></script>
  </head>
  <body>
      <div class="module" id="global-header">
      <div class="mod-inner">
        <ul id="utility-nav">
          <li>
            MOBILE: <a href="tel:+86-135-8884-0084">+86-135-8884-0084</a><br/>
            EMAIL: <a href="mailto:tangjj@dnp.wf">tangjj@dnp.wf</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="module" id="main-header">
      <div class="mod-inner">
        <h1>
          <a href="/" title="典普无纺布">典普无纺布</a>
        </h1>
        <ul id="main-nav">
          <li>
            <a href="/" {% if page.title == '首页' %}class="current"{% endif %} title="首页">Home</a>
          </li>
          <li>
            <a class="sub-menu property-list" href="#" title="典普无纺布产品">Products</a>
            <div class="caret"/>
          </li>
          <!--li>
            <a href="/about" {% if page.title == '公司介绍' %}class="current"{% endif %} title="公司介绍">About Us</a>
          </li-->
          <li>
            <a href="/guestbook" {% if page.title == '访客留言' %}class="current"{% endif %} title="访客留言">Leave a Message</a>
          </li>
        </ul>
      </div>
      <div class="nav-border"></div>
    </div>
    <div id="property-dropdown">
      <div class="mod-inner">
        <div class="col-4 clearix border-none">
          <div class="img-container">
{% for cat in site.categories %} {%if cat[0] == 'PRODUCTS' %} {% for post in cat[1] reversed %}
            <img class="{{ forloop.index }}" src="/assets{{ post.id }}.jpg"/>
{% endfor %} {% endif %} {% endfor %}
          </div>
        </div>
{% for cat in site.categories %} {%if cat[0] == 'PRODUCTS' %} {% for post in cat[1] reversed %}
  {% assign length = forloop.length | plus: 2 %}
  {% assign rows = length | divided_by: 3 %}
  {% assign rows2 = rows | times: 2 %}
  {% assign index = forloop.index | modulo: rows %}
  {% if index == 1 %}
        <div class="col-4 clearfix{% if forloop.index == 1 %} first{% endif %}{% if forloop.index > rows2 %} last{% endif %}">
          <ul>
  {% endif %}
            <li><a data-link="{{ forloop.index }}" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% if index == 0 or forloop.index == forloop.length %}
          </ul>
        </div>
  {% endif %}
{% endfor %} {% endif %} {% endfor %}
      </div>
    </div>
    <div id="main-content">
{{ content }}
    </div>
    <div class="module" id="main-footer">
      <div class="mod-inner">
        <div class="mod-content">
          <div class="mod-main">
            <h6>Contact us</h6>
            <address>
              No.156, JinTong Road,<br/>
              WuXiang Industrial Park,<br/>
              NingBo, ZheJiang,<br/>
              P.R.China
            </address>
            <address>
              TEL: +86-0571-88811082<br/>
              MOBILE: +86-135-8884-0084<br/>
              EMAIL: tangjj@dnp.wf
            </address>
          </div>

          <div class="mod-side">
            <h6>Find us in</h6>
            <address>
              <a href="http://shop1447779075422.1688.com" target="_blank">DNP @ Alibaba</a><br/>
              <a href="http://wait31627.cn.gongchang.com" target="_blank">DNP @ 世界工厂</a><br/>
              <a href="http://nbdnp.diytrade.com" target="_blank">DNP @ 自助贸易</a><br/>
            </address>
            <!--ul>
              <li><a class="logo" href="/" title="典普无纺布 主页">典普无纺布</a></li>
            </ul-->
            <!--
            <p align="center"><a href="/about" title="公司">公司</a></p>
            <p align="center"><a href="#" title="">其它信息</a></p>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="module" id="global-footer">
      <div class="mod-inner">
        <p><a href="http://github.com/{{ site.github }}/DNP/edit/gh-pages/{{ page.path }}">&copy;</a> {{site.time | date:"%Y"}} {{ site.author }} All Rights Reserved. {{ site.beian }}
{% if site.cnzz %}
 | <script src="http://s85.cnzz.com/stat.php?id={{ site.cnzz }}"></script>
{% endif %}
        </p>
      </div>
    </div>
    <script src="/scripts/jquery-1.8.2.min.js"></script>
    <script src="/scripts/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/scripts/flowplayer.min.js"></script>
    <script src="/scripts/jquery.carouFredSel-6.0.5.js"></script>
    <script src="/scripts/jquery.ba-outside-events.min.js"></script>
    <script src="/scripts/jquery.fancybox.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
