---
layout: page
comments: yes
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<section class="post">

{% assign asset = page.id | prepend: '/assets' %}
{% assign image = asset | append: '.jpg' %}
{% assign imageL = asset | append: 'L.jpg' %}

{% for file in site.static_files %}
{{ image }}|
{{ file.path }}
  {% if file.path == imageL %}
    <br/><a href="{{ file.path }}" target="_blank" title="点击放大图片"> <img src="{{ file.path }}" style="max-width:100%" /></a>
    {% break %}
  {% elsif file.path == image %}
    <br/><img src="{{ file.path }}" style="max-width:100%" />
    {% break %}
  {% endif %}
{% endfor %}

{{ content }}
</section>
<section align="right">
<br/>
<span>
	{% if page.previous %}<a href="{{ page.previous.url }}" class="pageNav">上一篇</a>{% endif %}
	&nbsp;&nbsp;&nbsp;
	{% if page.next %}<a href="{{ page.next.url }}" class="pageNav">下一篇</a>{% endif %}
</span>
</section>
